<%= render "layouts/header" %>
<%= javascript_include_tag "home" %>
<%= stylesheet_link_tag "home" %>
<div class="wrapper">

  <h1 class="title">
    <span style="color: #fd3267">C</span>
    <span style="color: #66D9EF">o</span>
    <span style="color: #A6E22E">m</span>
    <span style="color: #FD971F">i</span>
    <span style="color: #9B59B6">n</span>
    <span style="color: #1ABC9C">g</span>

    <span style="color: #A6E22E">s</span>
    <span style="color: #fd3267">o</span>
    <span style="color: #fd3267">o</span>
    <span style="color: #3498DB">n</span>
    <span style="color: #9B59B6">!</span>
  </h1>
  <h2 class="subtitle">
    <span>Be</span>
    <span>ready,</span>
    <span>there</span>
    <span>is just:</span>
  </h2>

  <ul class="countdown">
    <li>
      <span class="days">OO</span>
      <p class="days_ref">days</p>
    </li>
    <li>
      <span class="hours">OO</span>
      <p class="hours_ref">hours</p>
    </li>
    <li>
      <span class="minutes">OO</span>
      <p class="minutes_ref">minutes</p>
    </li>
    <li>
      <span class="seconds">OO</span>
      <p class="seconds_ref">seconds</p>
    </li>
  </ul>

  <form>
    <input type="text" placeholder="Enter your email">
    <input type="submit" value="Keep me updated">
  </form>

</div>
