<%= render "layouts/header" %>
<%= javascript_include_tag "home" %>
<%= stylesheet_link_tag "home" %>
<div class="wrapper">
  <p>
    My whole life I have been a dancer, musician, and artist. Now at seventeen, I have been struggling with Complex Regional Pain Syndrome (CRPS) for three and a half years. This condition has spread throughout my entire body, and causes constant, intense nerve pain and bouts of temporary paralysis. My ability to dance, play the piano, sing, and draw is severely affected. In my prayers for healing over the last year and a half, I also asked God to give me an outlet through which I could again express my creativity.<br><br><br>
    As I was surfing the web a YouTube tutorial on “how to draw an eye with charcoal” caught my attention. My hands were partially paralyzed at the time, but I decided to watch it and was inspired to try drawing again. Only half believing that it would be possible, I picked up a charcoal pencil and God allowed me to draw!  I drew with that video, and then watched the next video on drawing water droplets.  For both videos, my hands were able to move until the picture was finished.  I still couldn’t write, or play piano, or do anything else with my hands, but God gave me drawing back and with more skill than I had before. I have continually been able to draw whatever is on my heart, and I always know when to stop fine-tuning a picture because my hands will stop working.<br><br><br>
    Since then, my whole body has become like that.  God gives me strength and mobility in the midst of pain, so I want to keep everything towards God.  If my stuff is going to start being out there, I want people to know why I can do this.  God is the only reason I can do anything, so it doesn’t seem right to take any of the credit.  I want Him to keep blessing people with my art and my story, and I can’t wait to see where He takes me. He’s moving me and He’s guiding my heart, and crazy, impossible things are happening.
  </p>
</div>
