// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body {
//     background-color: #434c50;
//     min-height: 100vh;
//     font: normal 16px sans-serif;
//     padding: 40px 0;
// }

body {
  background-color: #8535a8;
}

.container.gallery-container {
    color: #35373a;
    min-height: 100vh;
    width: 85vw;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.photoswipe-gallery {
  float: left;
  width: 100%;
  max-width: 80vw;
  margin: auto;
  text-align: center;
}

.photoswipe-blocks {
  background-color: #4d4d4d;
  margin: .5em;
  display: inline-block;
  width: 210px;
  height: 210px;
  figure {
    width: 200px;
    display: inline-block;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  a {
    display: inline-block;
    width: 200px;
    height: 100%;
    margin: auto;
  }
}

.photoswipe-blocks:hover {
  background-color: #FFFFFF;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

#img {
  margin:auto;
  padding: 16px 16px;
  font-size: 0.85em;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background: none;
  color: #FD3267;
  outline: none;
  cursor: pointer;
}

.upload-form {
  border: 1px solid #FD3267;
  margin: 5vh 20vw;
  padding: 1%;
}

.img-box {
  width: 200px;
  height: 200px;
}
