// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'https://fonts.googleapis.com/css?family=Allerta+Stencil|Roboto+Mono';

html, body {

}

.wrapper {
  margin-top: 100px;
	min-height: 600px;
  background: #600080;
  margin: 0;
	text-align: center;
  font-family: 'Arapey', serif;
  width: 75%;
  margin: auto;
  font-size: 18px;
  color: #FFFFFF;
  h1 {
  	color: #000;
  	font-size: 68px;
  	font-size: 5.5vw;
  	width: 100%;
  	display: inline-flex;
    justify-content: center;
    letter-spacing: 8px;
  }
  h1 span:nth-child(6) {
    margin-right: 30px;
  }
  h2 {
  	font-weight: 500;
  	font-size: 27px;
  	font-size: 2vw;
  	margin: 0 auto;
  	color: #fff;
  	width: 100%;
  	text-align: center;
  }

  ul {
  	list-style: none;
  	display: block;
  }

  a {
  	color: #fd3267;
  }
}

@media screen and (max-width: 500px) {
	h2 {
		font-size: 3.5vw
	}
}
