// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  background-color: #8535a8;
}

.header {
    padding: 0;
    margin: 0;
}

.logo {
  float: left;
  padding: 1em;
  width: 100%;
  background-color: #FFFFFF;
  display: table;
  h1 {
    color: #8535a8;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin: 0;
    width: 64vw;
    height: 25vw;
    max-height: 25vh;
    float: left;
    display: table-cell;
  }
  img {
    float: left;
    width: 25vw;
    max-width: 25vh;
    margin: 0em 0.5em 0em 0em;
    display: table-cell;
  }
}

.nav {
  background-color: #707070;
  float: left;
  width: 100%;
  li {
    float: left;
  }
  ul {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #000000;
    float: left;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    display: block;
  }
  a:hover {
    background-color: #8535a8;
  }
}
