// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  background-color: #8535a8;
}

.header {
    padding: 0;
    margin: 0;
}

.logo {
  float: left;
  position: relative;
  padding-top: 1em;
  padding-left: 1em;
  width: 100%;
  background-color: #444244;
  display: table;
  img {
    float: left;
    display: table-cell;
  }
}

#logo {
  // width: 25vw;
  margin: 0 auto;
  width: 22vw;
  max-width: 7em;
}

#logo-text {
  // position: absolute;
  // bottom: 0;
  // right: 10vw;
  // margin: 0;
  // width: 70vw;
  // height: 25vw;
  // max-height: 25vh;
}

.nav {
  background-color: #707070;
  // TODO: STICKY NAVBAR
  float: left;
  width: 100%;
  li {
    float: left;
  }
  ul {
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #000000;
    float: left;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    display: block;
  }
  a:hover {
    background-color: #8535a8;
  }
}
